body {
    background-color: WhiteSmoke;
    padding: 70px 10px;
}

nav {
    border: 1px solid LightGrey;
}

/*fixme: make me an actual colorful ring*/
div .activeStory {
    background-color: blueviolet;
    border: thick coral;
}

div .scrollable {
    overflow: auto;
}

div .post {
    background-color: white;
    border: 1px solid LightGrey;
    padding: 5px 0px;
    margin-bottom: 20px;
}
